@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    /* display: block; */
}

body{
    background-color: rgb(15, 14, 14);
    color: whitesmoke;
}

#particles-js{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 10;
    z-index:10 ;

}

h1{
    color: white;
}

.nav-link{
    padding-right: 1rem !important;   
    padding-left: 0.5rem !important;   
    transition: 300ms;
    transition: all 0.3s ease-in;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
    font-family: 'Roboto', sans-serif;
}

.nav-link:hover{
    text-decoration-color:rgb(244, 245, 242);
    color: rgb(255, 255, 255)!important;
}

.nav-item > a{
    font-weight:300
}


img{
    width: 4%;
    min-width: 50px;
}

.hero-container{
    margin-top: 6rem;
}


.bg-green{
    background-color:rgb(52, 146, 52);
}

.text-green{
    color: rgb(123, 240, 123) !important;
}

.hero-header *{
    font-size: 4rem;
}

footer{
    position: absolute;
    text-align: end;
    right: 15%;
    /* bottom:10px; */
    
}

.footer-logos > i {
    margin-left: 10px;
    margin-bottom: 5px;
}
