@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* display: block; */
}

body{
    background-color: rgb(15, 14, 14);
    color: whitesmoke;
    position:relative;

}

#particles-js{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 10;
    z-index:10 ;

}

h1{
    color: white;
}

.navbar{
    background-color:rgb(29, 26, 29)!important;
}

.nav-link{
    padding-right: 1rem !important;   
    padding-left: 0.5rem !important;   
    transition: 300ms;
    transition: all 0.3s ease-in;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
    font-family: 'Roboto', sans-serif;
}

.nav-link:hover{
    text-decoration-color:rgb(244, 245, 242);
    color: rgb(255, 255, 255)!important;
}

.nav-item > a{
    font-weight:300
}


img{
    width: 5%;
    min-width: 50px;
}

.hero-container{
    margin-top: 3rem;
}


.bg-green{
    background-color:rgb(52, 146, 52);
}

.text-green{
    color: rgb(123, 240, 123) !important;
}

.hero-header *{
    font-size: 3rem;
}


.card-img-top{
    border-radius: 50%!important;
    width: 50%;
    margin-top: -1.5rem;
    box-shadow: 7px 3px 7px rgba(55, 92, 52, 0.7);
}

.col{
    margin-top: 4rem;
}

.card{
    background-color: rgb(29, 26, 29)!important;
    background-image: linear-gradient(to bottom, rgba(20, 20, 19, 0.527), rgba(10, 121, 34, 0.164))!important;
    z-index:10;
}

.card-title{
    font-size: 1.1rem;
}

.card-text{
    font-size: 0.8rem;
}
/* 
.team{
    background-color: rgb(45, 48, 43);
} */

.team-header h1{
    font-size: 3rem !important;
}

footer{
    position: absolute;
    text-align: end;
    right: 15%;
    /* bottom:10px; */
    
}

.footer-logos > i {
    margin-left: 10px;
    margin-bottom: 5px;
}


